<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ISUSMSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://gfish.it.ilstu.edu:8080/ISUTextSMS/ISUSMS"
                binding="basicHttpBinding" bindingConfiguration="ISUSMSPortBinding"
                contract="ServiceReference1.ISUSMS" name="ISUSMSPort" />
        </client>
    </system.serviceModel>
</configuration>
